@use "/sass/uswds-styles" as *;
@forward "usa-section";
@forward "usa-layout-grid";
@forward "usa-breadcrumb";
@forward "usa-button";
@forward "usa-button-group";
@forward "usa-hero";
// modal styles loaded with app


/* HERO OVERLAY DESIGN PATTERN */
.hero-overlay-section {

  .usa-hero {
    @include u-margin-bottom(0);
    @include u-text("white");
    background-image: url("/assets/pics/field-with-sunset.jpg");
    background-color: color("base-darkest");
    position: relative;
    overflow: hidden;
    min-height: 100vh;

    // < tablet
    @include at-media-max("tablet-lg") {
      @include u-padding-y(0);
      min-height: unset;
    }

    // callout container
    .usa-hero__callout {
      color: inherit;

      background-color: rgba(28, 29, 31, 0.8); // base-darkest #1c1d1f
      box-shadow: 0 -1rem 2rem 2rem rgba(28, 29, 31, 0.8);

      max-width: unset;
      box-sizing: inherit;
      width: 100%;

      position: absolute;
      bottom: 0;

      @include u-padding-top(0);

      // < tablet
      @include at-media-max("tablet-lg") {
        @include u-padding-x(4);
        @include u-padding-top(15);
        @include u-padding-bottom(8);
        position: relative;
      }

      // < mobile
      @include at-media-max("mobile-lg") {
        @include u-padding-x(2);
      }

      .grid-container {
        @include u-padding-x(0);
      }

      .usa-hero__heading {
        @include u-font-size('sans', 16);
        color: inherit;
        line-height: 0.9;
      }

      .callout-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        // < tablet
        @include at-media-max("tablet-lg") {
          display: inline-block;
        }
      }

      .callout-message {
        @include u-margin-top(2);
        @include u-font-size('sans', 11);
        font-weight: 300;
        color: inherit;
        line-height: 1.3;
      }

      .callout-action {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        // < tablet
        @include at-media-max("tablet-lg") {
          display: inline-block;
        }

        // < mobile
        @include at-media-max("mobile-lg") {
          display: flex;
        }
      }

      .usa-button {
        @include u-margin(0);
        @include u-margin-left(2);
        white-space: nowrap;

        // < tablet
        @include at-media-max("tablet-lg") {
          @include u-margin(0);
          @include u-margin-top(4);
        }
      }
    }
  }
}


// adjustments to non-design pattern parts of the page
.pattern-intro-section {
  @include u-padding-y(0); // who doesn't this inherit correctly from _site.scss?
  @include u-margin-bottom(4);
}

.pattern-info-section {
  @include u-padding-top(0);
}
