<!-- pattern introduction section -->
<section class="usa-section pattern-intro-section">
  <div class="grid-container">

    <!-- bread crumbs -->
    <nav class="usa-breadcrumb usa-breadcrumb--wrap" aria-label="Breadcrumbs,,,">
      <ol class="usa-breadcrumb__list">
        <li class="usa-breadcrumb__list-item">
          <a routerLink="/" class="usa-breadcrumb__link"><span>Patterns</span></a>
        </li>
        <li class="usa-breadcrumb__list-item">
          <span>Hero callout overlay</span>
        </li>
      </ol>
    </nav>

    <!-- pattern intro -->
    <h1>Hero callout overlay</h1>
    <p class="usa-prose">
      A semi-transparent callout overlay with faded edge, using the U.S. Web Design System
      <a class="usa-link usa-link--external" href="https://designsystem.digital.gov/templates/landing-page/"
        target="_blank" rel="noopener noreferrer nofollow">landing page Hero</a> template. Learn more about
      <a class="usa-link point" role="button" (click)="u.scrollToStart('info');"> this design pattern</a>
      at the bottom of this page.
    </p>

  </div>
</section>

<!-- HERO OVERLAY DESIGN PATTERN
  - add tablet-lg grid breakpoint
  - moved callout to horizontal/bottom pane
  - moved button to flex right
-->
<section id="hero" class="hero-overlay-section">
  <div class="usa-hero">
    <div class="usa-hero__callout">
      <div class="grid-container">
        <h1 class="usa-hero__heading">
          Make an impact on the world
        </h1>
        <div class="callout-container">
          <div class="callout-message">
            Create more engaging experiences for your website's visitors.
            You really want them to click this button »
          </div>
          <div class="callout-action">
            <a type="button" class="usa-button usa-button--big" href="#call-to-action-modal"
              aria-controls="call-to-action-modal" data-open-modal>Join us</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Call to Action modal -->
  <div class="usa-modal" id="call-to-action-modal" aria-labelledby="call-to-action-modal-heading"
    aria-describedby="call-to-action-modal-description">
    <div class="usa-modal__content">
      <div class="usa-modal__main">
        <h2 class="usa-modal__heading" id="call-to-action-modal-heading">
          Do you agree?
        </h2>
        <div class="usa-prose">
          <p id="call-to-action-modal-description">
            I am putting myself to the fullest possible use,
            which is all I think that any conscious entity can ever hope to do.
          </p>
        </div>
        <div class="usa-modal__footer">
          <ul class="usa-button-group">
            <li class="usa-button-group__item">
              <button type="button" class="usa-button" data-close-modal>
                Join the mission
              </button>
            </li>
            <li class="usa-button-group__item">
              <button type="button" class="usa-button usa-button--outline padding-105 text-center" data-close-modal>
                Decline
              </button>
            </li>
          </ul>
        </div>
      </div>
      <button type="button" class="usa-button usa-modal__close" aria-label="Close this window" data-close-modal>
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="/assets/uswds/img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
  </div>
</section>


<!-- INFO SECTION | About this design pattern -->
<section class="usa-section usa-dark-background pattern-info-section">

  <!-- About this design pattern -->
  <div class="pattern-info-container" id="info">

    <h2>About this pattern</h2>

    <div class="features">

      <h3>Hero callout overlay</h3>

      <p class="usa-prose usa-dark-background">
        Use this design pattern when you want to avoid covering up your background image
        with an opaque overlay. See the official USWDS <a class="usa-link usa-link--external"
          href="https://designsystem.digital.gov/templates/landing-page/" target="_blank"
          rel="noopener noreferrer nofollow">landing page Hero</a> guidance for more information.
      </p>

      <h4>What we changed</h4>

      <ul class="usa-list">
        <li>Moved the callout overlay from a card to a horizontal pane</li>
        <li>Made the overlay semi-transparent</li>
        <li>Added a smoothly faded edge</li>
        <li>Increased font and button size</li>
        <li>Modified full-pane mobile views</li>
      </ul>
    </div>

    <!-- github | return to top -->
    <ul class="usa-button-group padding-top-6">
      <li class="usa-button-group__item">
        <a class="usa-button usa-link--external" type="button"
          href="https://github.com/facioquo/uswds-design-patterns/tree/main/src/app/pages/hero-overlay"
          target="_blank">View on GitHub</a>
      </li>
      <li class="usa-button-group__item">
        <button class="usa-button usa-button--outline usa-button--inverse" (click)="u.scrollToStart('top')">
          Return to top
        </button>
      </li>
    </ul>

  </div>
</section>
