<!-- pattern introduction section -->
<app-pattern-header [patternName]="'Hero callout overlay'" class="site">
  <p class="usa-prose">
    A semi-transparent callout overlay with faded edge, using the U.S. Web Design System
    <a class="usa-link usa-link--external" href="https://designsystem.digital.gov/templates/landing-page/"
      target="_blank" rel="noopener noreferrer nofollow">landing page Hero</a> template. Learn more about
    <a class="usa-link point" role="button" (click)="u.scrollToStart('info');"> this design pattern</a>
    at the bottom of this page.
  </p>
</app-pattern-header>


<!-- HERO OVERLAY DESIGN PATTERN
  - add tablet-lg grid breakpoint
  - moved callout to horizontal/bottom pane
  - moved button to flex right
-->
<section id="hero" class="hero-overlay-section">
  <div class="usa-hero">
    <div class="usa-hero__callout">
      <div class="grid-container">
        <h1 class="usa-hero__heading">
          Make an impact
          <br class="mobile-only" />
          on the world
        </h1>
        <div class="callout-container">
          <div class="callout-message">
            Create more engaging experiences for your website's visitors.
            You really want them to click this call-to-action button.
          </div>
          <div class="callout-action">
            <a type="button" class="usa-button usa-button--big" href="#call-to-action-modal"
              aria-controls="call-to-action-modal" data-open-modal>Join us</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Call to Action modal -->
  <div class="usa-modal" id="call-to-action-modal" aria-labelledby="call-to-action-modal-heading"
    aria-describedby="call-to-action-modal-description">
    <div class="usa-modal__content">
      <div class="usa-modal__main">
        <h2 class="usa-modal__heading" id="call-to-action-modal-heading">
          Do you agree?
        </h2>
        <div class="usa-prose">
          <p id="call-to-action-modal-description">
            I am putting myself to the fullest possible use,
            which is all I think that any conscious entity can ever hope to do.
          </p>
        </div>
        <div class="usa-modal__footer">
          <ul class="usa-button-group">
            <li class="usa-button-group__item">
              <button type="button" class="usa-button" data-close-modal>
                Join the mission
              </button>
            </li>
            <li class="usa-button-group__item">
              <button type="button" class="usa-button usa-button--outline padding-105 text-center" data-close-modal>
                Decline
              </button>
            </li>
          </ul>
        </div>
      </div>
      <button type="button" class="usa-button usa-modal__close" aria-label="Close this window" data-close-modal>
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
          <use href="/assets/uswds/img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
  </div>
</section>


<!-- INFO SECTION | About this design pattern -->
<app-pattern-footer [githubFolder]="'hero-overlay'" class="site-dark" id="info">

  <p class="usa-prose usa-dark-background">
    Use this design pattern when you want to avoid covering up your background image
    with an opaque overlay. See the official USWDS <a class="usa-link usa-link--external"
      href="https://designsystem.digital.gov/templates/landing-page/" target="_blank"
      rel="noopener noreferrer nofollow">landing page Hero</a> guidance for more information.
      Here's what we changed:
  </p>

  <ul class="usa-list">
    <li>Moved the callout overlay from a card to a horizontal pane</li>
    <li>Made the overlay semi-transparent</li>
    <li>Added a smoothly faded edge</li>
    <li>Increased font and button size</li>
    <li>Modified full-pane mobile views</li>
  </ul>

</app-pattern-footer>
