@use "uswds-core" as *;

/* SITE MIXINS & STYLES */

@mixin site-style {

  h1 {
    @include u-font-size('sans', 16);
    line-height: line-height("sans", 1);

    @include at-media-max("mobile-lg") {
      @include u-font-size('sans', 14);
    }
  }

  h2,
  h3,
  h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    opacity: 80% !important;
  }

  h2 {
    @include u-font-size("sans", 12);
    line-height: line-height("sans", 1);

    @include at-media-max("mobile-lg") {
      @include u-font-size("sans", 11);
    }
  }

  h3 {
    @include u-font-size("sans", 9);
    font-weight: 400;
    margin-top: 1.5rem;

    @include at-media-max("mobile-lg") {
      @include u-font-size("sans", 8);
    }
  }

  h4 {
    @include u-font-size("sans", 7);
    margin-top: 1.5rem;

    @include at-media-max("mobile-lg") {
      @include u-font-size("sans", 6);
    }
  }

  .usa-list li {
    max-width: unset;
  }

  .usa-prose {
    @include u-font-size('sans', 7);

    @include at-media-max("mobile-lg") {
      @include u-font-size('sans', 6);
    }
  }
}

@mixin site-dark {

  @include site-style;
  @include u-bg("base-darker");
  color: color("base-lighter");

  /* base elements */
  h1,
  h2 {
    color: rgba(230, 199, 76, 0.9);
  }

  h3 {
    color: color("base-lightest");
  }

  p {
    color: inherit;
  }

  /* override, re-style for darkness */
  .usa-prose {
    background-color: unset;
  }

  .usa-link,
  .usa-link--alt,
  .usa-link--external {

    color: inherit !important;
    text-decoration: underline;

    &:active,
    &:visited {
      color: unset;
    }

    &:hover {
      color: color("base-lightest") !important;
      cursor: pointer;
    }
  }
}

.site {
  @include site-style;
}

.site-dark {
  @include site-dark;
}

/* MAIN SECTIONS */
.pattern-header {
  @include site-style;
  @include u-padding-y(0);
}

.pattern-footer {

  @include site-dark;
  @include u-padding-x(2);
  @include u-padding-y(8);

  @include at-media-max("mobile-lg") {
    @include u-padding-x(1);
  }

  .info-container {

    @include site-dark();
    max-width: 700px;
    margin: auto;

    @include at-media-max("mobile-lg") {
      @include u-padding-x(0);
    }
  }
}


/* misc styles */
a.point:hover {
  cursor: pointer;
}


/* DISPLAY CONTROLS */

/* show/hide mobile breakpoints */
@include at-media-max("tablet-lg") {
  .not-mobile {
    display: none;
  }
}

@include at-media("tablet-lg") {
  .mobile-only {
    display: none;
  }
}

/* fade in images after loading. */
.easeload {
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
