/*
----------------------------------------
USWDS BASE STYLES (select packages)
----------------------------------------
ref: https://designsystem.digital.gov/components/packages
*/
@use "uswds-core" as *;

/* GLOBAL ELEMENTS */
@forward "uswds-global"; // core, fonts, elements, helpers
@forward "uswds-utilities";
@forward "uswds-typography";

/* GLOBAL STYLES */
body {
  overflow-y: scroll;
}

h1 {
  @include u-font-size('sans', 16);
  color: rgba(230, 199, 76, 0.95);
  line-height: 0.9em;

  @include at-media-max("mobile-lg") {
    @include u-font-size('sans', 14);
  }
}

.usa-prose {
  @include u-font-size('sans', 7);

  @include at-media-max("mobile-lg") {
    @include u-font-size('sans', 6);
  }
}
