/*
----------------------------------------
USWDS BASE STYLES (select packages)
----------------------------------------
ref: https://designsystem.digital.gov/components/packages
*/
@use "uswds-core" as *;

/* GLOBAL ELEMENTS */
@forward "uswds-global"; // core, fonts, elements, helpers
@forward "uswds-utilities";
@forward "uswds-typography";

/* GLOBAL HTML STYLES */
body {
  margin: 0;
  overflow-y: scroll;
}

main {
  display: block;
  min-height: 85vh;
}
