/*
----------------------------------------
USWDS THEME SETTINGS (override defaults)
----------------------------------------
*/

@use "uswds-core" with (
  $theme-image-path: "/assets/uswds/img",
  $theme-font-path: "/assets/uswds/fonts",
  $theme-show-compile-warnings: false,
  $theme-show-notifications: false,
);
