/*
----------------------------------------
USWDS CUSTOM COLOR PALETTE
----------------------------------------
*/
$my-blue-90: #000305;
$my-blue-80: #001726;
$my-blue-70: #002b47;
$my-blue-60: #003e67;
$my-blue: #005288;
$my-blue-40: #3d7ca5;
$my-blue-30: #7aa5c1;
$my-blue-20: #b8cfde;
$my-blue-15: #d6e3ec;
$my-blue-10: #f5f8fa;
$my-gray-90: #080808;
$my-gray-80: #363637;
$my-gray-70: #646566;
$my-gray-60: #929395;
$my-gray: #c0c2c4;
$my-gray-40: #cfd1d2;
$my-gray-30: #dedfe0;
$my-gray-20: #edeeee;
$my-gray-15: #f5f5f6;
$my-gray-10: #fcfdfd;
$my-dark-gray-90: #040404;
$my-dark-gray-80: #19191a;
$my-dark-gray-70: #2f2f30;
$my-dark-gray-60: #444547;
$my-dark-gray: #5a5b5d;
$my-dark-gray-40: #828284;
$my-dark-gray-30: #a9aaab;
$my-dark-gray-20: #d1d1d2;
$my-dark-gray-15: #e5e5e5;
$my-dark-gray-10: #f8f8f9;
$my-red-90: #080102;
$my-red-80: #37050d;
$my-red-70: #660919;
$my-red-60: #950e24;
$my-red: #c41230;
$my-red-40: #d24b62;
$my-red-30: #e08493;
$my-red-20: #eebdc5;
$my-red-15: #f6d9de;
$my-red-10: #fdf6f7;
$my-light-blue-90: #000507;
$my-light-blue-80: #002231;
$my-light-blue-70: #003e5a;
$my-light-blue-60: #005b84;
$my-light-blue: #0078ae;
$my-light-blue-40: #3d98c1;
$my-light-blue-30: #7ab9d5;
$my-light-blue-20: #b8d9e8;
$my-light-blue-15: #d6e9f2;
$my-light-blue-10: #f5fafc;
$my-green-90: #040602;
$my-green-80: #1a2a0e;
$my-green-70: #314f1a;
$my-green-60: #477326;
$my-green: #5e9732;
$my-green-40: #85b063;
$my-green-30: #abc994;
$my-green-20: #d2e2c6;
$my-green-15: #e5eede;
$my-green-10: #f9fbf7;
