@use "/sass/uswds-styles" as *;
@forward "usa-card";

.usa-card__container {

  text-decoration: none;
  background-color: color($theme-color-base-darker);

  border-style: solid;
  border-width: 1px;
  border-color: color($theme-color-base-light);

  /* hover effect */
  &:hover {

    background-color: color($theme-color-base-darker);

    .usa-card__header {
      text-decoration: underline;
    }

    box-shadow:
      0px 10px 10px -3px color($theme-color-base-darkest, 0.20),
      0px 16px 20px  1px color($theme-color-base-darkest, 0.14),
      0px  6px 28px  2px color($theme-color-base-darkest, 0.12);
  }

  /* click effect */
  &:active {

    background-color: color($theme-color-base-darkest);

    box-shadow:
      0px 15px 15px -3px color($theme-color-base-darkest, 0.20),
      0px 24px 30px  1px color($theme-color-base-darkest, 0.14),
      0px  9px 40px  2px color($theme-color-base-darkest, 0.12);
  }

  /* maintain image box size proportion */
  .usa-card__img {

    aspect-ratio: 4/3;
    background-color: color($theme-color-base-lighter);
  }

  /* misc styling */
  .usa-card__heading {
    color: color($theme-color-base-lighter);
  }

  .usa-card__body p {
    color: color($theme-color-base-light);
  }
}
