@use "/sass/uswds-styles" as *;
@forward "usa-card";
@forward "usa-icon";

.usa-card__container {
  text-decoration: none;
  background-color: color("base-darkest");

  border-style: solid;
  border-width: 1px;
  border-color: color("base-light");

  /* hover effect */
  &:hover {
    border-color: color("base-lighter");

    .usa-card__header {
      text-decoration: underline;
    }

    box-shadow:
      0px 10px 10px -3px color("base-darker", 0.2),
      0px 16px 20px 1px color("base-darker", 0.14),
      0px 6px 28px 2px color("base-darker", 0.12);

    .usa-card__img {
      .icon-container {
        .usa-icon {
          height: 300px;
          width: 300px;
        }
      }
    }
  }

  /* click effect */
  &:active {
    background-color: color("base-darker");

    box-shadow:
      0px 15px 15px -3px color("base-darker", 0.2),
      0px 24px 30px 1px color("base-darker", 0.14),
      0px 9px 40px 2px color("base-darker", 0.12);

    .usa-card__img {
      .icon-container {
        .usa-icon {
          fill: color("base-darkest");
        }
      }
    }
  }

  /* maintain image box size proportion */
  .usa-card__img {
    aspect-ratio: 4/3;
    background-color: unset;

    /* special case for SVG icons */
    .icon-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      .usa-icon {
        height: 200px;
        width: 200px;
        fill: color("base-darker");
        fill-opacity: 50%;
      }
    }
  }

  /* when above tablet size, truncate text */
  @include at-media("tablet") {
    .usa-card__heading {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .usa-card__body p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      line-height: 2.8ex;
      height: 8.4ex;
      overflow: hidden;
    }
  }

  /* misc styling */
  .usa-card__heading {
    color: color("base-lighter");
  }

  .usa-card__body p {
    color: color("base-light");
  }
}
