<!-- Bread crumbs (unmodified) -->
<div class="grid-container">
  <nav class="usa-breadcrumb usa-breadcrumb--wrap" aria-label="Breadcrumbs,,,">
    <ol class="usa-breadcrumb__list">
      <li class="usa-breadcrumb__list-item">
        <a routerLink="/" class="usa-breadcrumb__link"><span>Home</span></a>
      </li>
      <li class="usa-breadcrumb__list-item">
        <span>About us</span>
      </li>
    </ol>
  </nav>
</div>

<!-- Catalog -->
<section class="usa-section about-section">
  <div class="grid-container">

    <h1>About us</h1>
    <p class="usa-prose">
      We're a group of community designers, developers, and content specialists who are passionate about
      <a class="usa-link usa-link--external" href="https://designsystem.digital.gov/about/" target="_blank"
        rel="noreferrer">the U.S. Web Design System</a>. We are not sponsored by the U.S. government,
      the U.S. Web Design System team, or the General Services Administration.
    </p>
    <p class="usa-prose text-center padding-top-6">
      <a class="usa-button usa-button--outline usa-button--inverse usa-link--external" type="button"
        href="https://facioquo.com/about" target="_blank">Learn more about FacioQuo</a>
    </p>
  </div>
</section>
