<!-- Bread crumbs (unmodified) -->
<div class="grid-container">
  <nav class="usa-breadcrumb usa-breadcrumb--wrap" aria-label="Breadcrumbs,,,">
    <ol class="usa-breadcrumb__list">
      <li class="usa-breadcrumb__list-item">
        <a routerLink="/" class="usa-breadcrumb__link"><span>Home</span></a>
      </li>
      <li class="usa-breadcrumb__list-item">
        <span>About us</span>
      </li>
    </ol>
  </nav>
</div>

<!-- About -->
<section class="usa-section about-section">
  <div class="grid-container">

    <h1>About us</h1>

    <p class="usa-prose">
      We're a group of community designers, developers, and content specialists who are passionate about
      <a class="usa-link usa-link--external" href="https://designsystem.digital.gov/about/" target="_blank"
        rel="noopener noreferrer nofollow">the U.S. Web Design System</a>. We are not sponsored by the U.S. government,
      the U.S. Web Design System team, or the General Services Administration.
    </p>

    <ul class="usa-button-group padding-top-6">
      <li class="usa-button-group__item">
        <a class="usa-button usa-link--external" type="button" target="_blank" rel="noopener nofollow"
          href="https://github.com/facioquo/uswds-design-patterns">View on GitHub</a>
      </li>
      <li class="usa-button-group__item">
        <a class="usa-button usa-button--outline usa-link--external" type="button" target="_blank" rel="noopener"
          href="https://facioquo.com">Learn about FacioQuo</a>
      </li>
    </ul>

  </div>
</section>
