<!-- Bread crumbs (unmodified) -->
<div class="grid-container">
  <nav class="usa-breadcrumb usa-breadcrumb--wrap" aria-label="Breadcrumbs,,,">
    <ol class="usa-breadcrumb__list">
      <li class="usa-breadcrumb__list-item">
        <a href="/" class="usa-breadcrumb__link"><span>Patterns</span></a>
      </li>
      <li class="usa-breadcrumb__list-item">
        <span>Card catalog</span>
      </li>
    </ol>
  </nav>
</div>

<!-- Catalog -->
<section class="usa-section catalog-section">
  <div class="grid-container">

    <h1>Card catalog</h1>
    <p class="usa-prose">
      A card catalog using the U.S. Web Design System <a class="usa-link usa-link--external"
        href="https://designsystem.digital.gov/components/card/" target="_blank">Card</a> and Card Group components with
      "See more" pagination.
      Learn more about <a title="see modifications" href="#info" onclick="u.scrollToStart('info');return false;">our
        modifications</a> at the bottom of this page.
    </p>

    <!-- Cards
      - add tablet-lg grid breakpoint
      - changed card container to <a>
      - removed card footer with button
      - size constraints and hover effect in SCSS file
    -->
    <ul class="usa-card-group padding-top-2" *ngIf="cards.length">
      <li class="usa-card tablet:grid-col-6 tablet-lg:grid-col-4" *ngFor="let card of cards; index as i">
        <a class="usa-card__container" id="{{ card.id }}" href="{{ card.link }}" type="button" target="_blank"
          rel="noreferrer">
          <div class="usa-card__header">
            <h2 class="usa-card__heading">{{ card.title }}</h2>
          </div>
          <div class="usa-card__media">
            <div class="usa-card__img">
              <img class="easeload" onload="this.style.opacity=1" ngSrc="{{ card.image }}" width="600" height="315"
                priority="{{(i<6)?true:false}}" alt="a random image" />
            </div>
          </div>
          <div class="usa-card__body">
            <p innerHtml="{{ card.description }}"></p>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <!-- "See more" pagination in standard button group -->
  <div class="grid-container">
    <p class="usa-prose text-center">Showing {{ cards.length }} of {{ cardMax }} cards</p>
    <ul class="usa-button-group" *ngIf="cards.length < cardMax">
      <li class="usa-button-group__item">
        <button class="usa-button" (click)="showMore(true)">
          Show {{ pageSize }} more
        </button>
      </li>
      <li class="usa-button-group__item">
        <button class="usa-button usa-button--outline" (click)="showAll()">
          Show all
        </button>
      </li>
    </ul>
  </div>
</section>

<!-- information about this design pattern -->
<section id="info" class="usa-section grid-container pattern-info-section">

  <div class="pattern-info-container">

    <h2>When to use this design pattern</h2>

    <div class="features">

      <h3>Modifications to the <a class="usa-link usa-link--external"
          href="https://designsystem.digital.gov/components/card/" target="_blank">Card</a></h3>

      <p class="usa-prose">
        Use this Card approach when you want to ensure consistent card size proportions and alignment
        when image size, card title, and description vary.
      </p>

      <ul class="usa-list">
        <li>Card image box uses a fixed image aspect ratio to ensure a consistent size.</li>
        <li>Card title and summary are fixed to 2 and 3 lines to ensure a consistent size. Overflow is shown with
          ellipsis. We also limited the allowed text size so overflow is rare.</li>
        <li>Full card is now clickable to improve the target surface; and removed the button.</li>
        <li>A hover effect was applied to emphasize clickability and selection.</li>
        <li>Images ease in on load to reduce the "pop" that can occur if you have a slower image source.</li>
      </ul>

      <h3>Implementation of "See more" pagination</h3>

      <p class="usa-prose">
        Use this pagination approach when you want to see more content without the large page
        shift that you'd get from classic numbered <a class="usa-link usa-link--external"
          href="https://designsystem.digital.gov/components/pagination/" target="_blank">Pagination</a>.
      </p>

      <ul class="usa-list">
        <li>"See more" and "Show all" pagination uses Javascript to add the next page(s) data to the card collection.
        </li>
        <li>Smooth scroll to position first new items added to the card collection.</li>
        <li>Lazy load images, so only nearby images download and render.</li>
      </ul>
    </div>

    <!-- github | return to top -->
    <ul class="usa-button-group padding-top-4">
      <li class="usa-button-group__item">
        <a class="usa-button usa-link--external" type="button"
          href="https://github.com/facioquo/uswds-design-patterns/tree/main/src/app/pages/card-catalog"
          target="_blank">View on GitHub</a>
      </li>
      <li class="usa-button-group__item">
        <button class="usa-button usa-button--outline" (click)="u.scrollToStart('top')">Return to top</button>
      </li>
    </ul>
  </div>
</section>
