@use "/sass/uswds-styles" as *;
@forward "usa-summary-box";
@forward "usa-checkbox";
@forward "usa-range";
@forward "usa-pagination";
@forward "usa-icon";

/* page settings */
.usa-summary-box {

  @include u-margin-x(-6);
  @include u-margin-top(-4);
  @include u-margin-bottom(7);
  @include u-padding-x(6);
  @include u-padding-y(4);

  @include at-media-max("mobile-lg") {
    @include u-margin(-2);
  }

  background-color: color($theme-color-base-lighter);
  border: none;
  border-radius: 1rem;

  .usa-summary-box__heading {
    color: unset;
    margin-top: 0;
  }

  .usa-label {
    padding-left: 1px;
  }

  .usa-range {
    height: 1.5rem;
    margin: 0;
    padding: 0 0 0 0;
    background-color: unset;
  }

  .usa-checkbox {
    background-color: unset;
    padding-left: 1px;
  }

  .usa-checkbox__label {
    margin-top: 24px;

    &::before {
      box-shadow: 0 0 0 1px color($theme-color-base);
      background-color: color($theme-color-base-lightest);
    }
  }

  .usa-button--outline {
    background-color: color($theme-color-base-lightest);
  }
}
