<!-- pattern introduction section -->
<section class="usa-section pattern-intro-section">
  <div class="grid-container">

    <!-- bread crumbs -->
    <nav class="usa-breadcrumb usa-breadcrumb--wrap" aria-label="Breadcrumbs,,,">
      <ol class="usa-breadcrumb__list">
        <li class="usa-breadcrumb__list-item">
          <a class="usa-breadcrumb__link" routerLink="/" fragment="design-patterns"><span>Patterns</span></a>
        </li>
        <li class="usa-breadcrumb__list-item">
          <span>Card catalog</span>
        </li>
      </ol>
    </nav>

    <!-- pattern intro -->
    <h1>Card catalog</h1>
    <p class="usa-prose">
      A card catalog using the U.S. Web Design System <a class="usa-link usa-link--external"
        href="https://designsystem.digital.gov/components/card/" target="_blank"
        rel="noopener noreferrer nofollow">Card</a> component with “show more” card loading. Learn more about
      <a class="usa-link point" role="button" (click)="u.scrollToStart('info');"> this design pattern</a> or
      <a class="usa-link point" role="button" (click)="u.scrollToEnd('settings');">change settings</a>
      at the bottom of this page.
    </p>

  </div>
</section>

<!-- CATALOG DESIGN PATTERN
  - add tablet-lg grid breakpoint
  - changed card container to <a>
  - removed card footer with button
  - size constraints and hover effect in SCSS file
-->
<section class="usa-section catalog-section">
  <div class="grid-container">

    <ul class="usa-card-group">
      <li class="usa-card tablet:grid-col-6 tablet-lg:grid-col-4" *ngFor="let card of cards; index as i">
        <a class="usa-card__container" id="{{ card.id }}" href="{{ card.link }}" type="button" target="_blank"
          rel="noreferrer">
          <div class="usa-card__header">
            <h2 class="usa-card__heading">{{ card.title }}</h2>
          </div>
          <div class="usa-card__media">
            <div class="usa-card__img">
              <img class="easeload" onload="this.style.opacity=1" ngSrc="{{ card.image }}" width="600" height="315"
                priority="{{(i<6)?true:false}}" alt="a random image" />
            </div>
          </div>
          <div class="usa-card__body">
            <p innerHtml="{{ card.description }}"></p>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <!-- "See more" pagination in standard button group -->
  <div class="grid-container" *ngIf="!classic">
    <p class="text-center">Showing {{ cards.length }} of {{ totalCards }} cards</p>
    <ul class="usa-button-group" *ngIf="cards.length < totalCards">
      <li class="usa-button-group__item">
        <button class="usa-button" (click)="showPage(page+1)">
          Show {{ pageSize }} more
        </button>
      </li>
      <li class="usa-button-group__item">
        <button class="usa-button usa-button--outline" (click)="showAll()">
          Show all
        </button>
      </li>
    </ul>
  </div>

  <!-- "Classic" pagination numbered index -->
  <!-- https://designsystem.digital.gov/components/pagination/ -->
  <div class="grid-container" *ngIf="classic">

    <p class="text-center">Showing {{cardStart}}-{{cardEnd}} of {{totalCards}} cards</p>

    <nav aria-label="Pagination" class="usa-pagination">
      <ul class="usa-pagination__list">
        <li class="usa-pagination__item usa-pagination__arrow" *ngIf="pages>3 && page>1">
          <a role="button" class="usa-pagination__link usa-pagination__previous-page" aria-label="Previous page"
            (click)="showPage(page-1)">
            <svg class="usa-icon" aria-hidden="true" role="img">
              <use xlink:href="/assets/uswds/img/sprite.svg#navigate_before"></use>
            </svg>
            <span class="usa-pagination__link-text">Previous</span>
          </a>
        </li>
        <li class="usa-pagination__item usa-pagination__page-no" *ngIf="pages>3 && page>=3">
          <a role="button" class="usa-pagination__button" aria-label="First page, page 1" (click)="showPage(1)">1</a>
        </li>
        <li class="usa-pagination__item usa-pagination__overflow" aria-label="ellipsis indicating non-visible pages"
          *ngIf="pages>3 && page>=3">
          <span>…</span>
        </li>
        <li class="usa-pagination__item usa-pagination__page-no" *ngIf="page>1">
          <a role="button" class="usa-pagination__button" attr.aria-label="Page {{page-1}}"
            (click)="showPage(page-1)">{{page-1}}</a>
        </li>
        <li class="usa-pagination__item usa-pagination__page-no">
          <a role="button" class="usa-pagination__button usa-current" attr.aria-label="Page {{page}}"
            aria-current="page" (click)="u.scrollToStart('top')">{{page}}</a>
        </li>
        <li class="usa-pagination__item usa-pagination__page-no" *ngIf="page+1<=pages">
          <a role="button" class="usa-pagination__button" attr.aria-label="Page {{page+1}}"
            (click)="showPage(page+1)">{{page+1}}</a>
        </li>
        <li class="usa-pagination__item usa-pagination__overflow" aria-label="ellipsis indicating non-visible pages"
          *ngIf="pages>3 && page<=pages-2">
          <span>…</span>
        </li>
        <li class="usa-pagination__item usa-pagination__page-no" *ngIf="pages>3 && page<=pages-2">
          <a role="button" class="usa-pagination__button" attr.aria-label="Last page, page {{pages}}"
            (click)="showPage(pages)">{{pages}}</a>
        </li>
        <li class="usa-pagination__item usa-pagination__arrow" *ngIf="pages>3 && page!=pages">
          <a role="button" class="usa-pagination__link usa-pagination__next-page" aria-label="Next page"
            (click)="showPage(page+1)">
            <span class="usa-pagination__link-text">Next </span>
            <svg class="usa-icon" aria-hidden="true" role="img">
              <use xlink:href="/assets/uswds/img/sprite.svg#navigate_next"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</section>


<!-- INFO SECTION | About this design pattern -->
<section class="usa-section usa-dark-background pattern-info-section">

  <!-- Patterns settings -->
  <div class="pattern-info-container" id="settings">

    <div class="usa-summary-box" role="region" aria-labelledby="summary-box-key-information">
      <div class="usa-summary-box__body">
        <h3 class="usa-summary-box__heading" id="summary-box-key-information">
          Catalog settings
        </h3>
        <div class="usa-summary-box__text">

          <form class="usa-form">

            <!-- total cards -->
            <label class="usa-label" for="slider-total-cards">Total cards ({{totalCards}})</label>
            <input id="slider-total-cards" name="total-cards" class="usa-range" type="range" min="6" max="{{maxCards}}"
              step="6" [(ngModel)]="totalCards" aria-valuemin="6" attr.aria-valuemax="{{maxCards}}"
              attr.aria-valuenow="{{totalCards}}" role="slider" (change)="changeTotalCards()" />

            <!-- cards per pages -->
            <label class="usa-label" for="slider-page-cards">Cards per page ({{pageSize}})</label>
            <input id="slider-page-cards" name="page-cards" class="usa-range" type="range" min="6" max="{{pageMax}}"
              step="6" [(ngModel)]="pageSize" aria-valuemin="6" attr.aria-valuemax="{{pageMax}}"
              attr.aria-valuenow="{{pageSize}}" role="slider" (change)="changePageSize()" />

            <!-- enable auto-scroll -->
            <div class="usa-checkbox">
              <input class="usa-checkbox__input" id="enable-autoscroll" type="checkbox" name="auto-scroll"
                [checked]="autoScroll" (change)="autoScroll = !autoScroll" />
              <label class="usa-checkbox__label" for="enable-autoscroll">Auto-scroll when paging</label>
            </div>

            <!-- style -->
            <label class="usa-label">Style</label>
            <ul class="usa-button-group usa-button-group--segmented">
              <li class="usa-button-group__item">
                <button type="button" [ngClass]="!classic ? 'usa-button' : 'usa-button usa-button--outline'"
                  (click)="classic=false;">Show&nbsp;more</button>
              </li>
              <li class="usa-button-group__item">
                <button type="button" [ngClass]="classic ? 'usa-button' : 'usa-button usa-button--outline'"
                  (click)="classic=true;">Classic</button>
              </li>
            </ul>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- INFO SECTION | About this design pattern -->
<app-pattern-footer [githubFolder]="'card-catalog'" id="info">

  <h3>Cards</h3>

  <p class="usa-prose usa-dark-background">
    Use this card design pattern when you want consistent <a class="usa-link usa-link--alt usa-link--external"
      href="https://designsystem.digital.gov/components/card/" target="_blank"
      rel="noopener noreferrer nofollow">Card</a> size proportions and
    alignment of its elements when sizes for images, card titles, and descriptions vary.
    Here's what we changed:
  </p>

  <ul class="usa-list">
    <li>Card image box uses a <a class="usa-link usa-link--external"
        href="https://web.dev/patterns/layout/aspect-ratio-image-card/" target="_blank"
        rel="noopener noreferrer nofollow">fixed aspect ratio</a> to ensure a
      consistent size.</li>
    <li>Card title and summary sections are fixed to 2 and 3 lines to ensure a consistent size. We limited the max
      allowable raw text, so overflow is rare. Ellipses ... indicate overflows.</li>
    <li>Full card is clickable to maximize the click/touch target (we also removed the button).</li>
    <li>A hover shadow effect provides a haptic response to emphasize clickability.</li>
    <li>Images ease in on load to reduce the visual "pop" that occurs on late arrival.</li>
    <li>Lazy load images so only nearby images download and render.</li>
  </ul>

  <h3>Pagination</h3>

  <p class="usa-prose">
    Use this pagination design pattern when you want to see more content without the large page
    shift that you'd get from classic numbered <a class="usa-link usa-link--alt usa-link--external"
      href="https://designsystem.digital.gov/components/pagination/" target="_blank"
      rel="noopener noreferrer nofollow">Pagination</a>.  Here's what we changed:
  </p>

  <ul class="usa-list">
    <li><strong>See more</strong> and <strong>Show all</strong> pagination adds next page(s) cards
      to the collection.</li>
    <li>Optionally, auto-scroll to reposition page to new cards.</li>
  </ul>

  <h4>Use caution with large catalogs</h4>

  <ul class="usa-list">
    <li><strong>Show all</strong> should not be used with large catalogs that impact page performance.</li>
    <li>If you decide to use with a large catalog, offload initial cards that exceed a max limit with each
      subsequent <strong>Show more</strong>. A <strong>See previous</strong> button can be used at the top
      of your catalog to similarly restore.</li>
  </ul>

</app-pattern-footer>
