<div class="bg-img"></div>
<div class="bg-fill"></div>
<section class="usa-section">
  <!-- bread crumbs -->
  <nav class="usa-breadcrumb usa-breadcrumb--wrap usa-dark-background" aria-label="Breadcrumbs,,,">
    <div class="grid-container">
      <ol class="usa-breadcrumb__list">
        <li class="usa-breadcrumb__list-item">
          <a class="usa-breadcrumb__link" routerLink="/"><span>Home</span></a>
        </li>
        <li class="usa-breadcrumb__list-item">
          <span>Page not found</span>
        </li>
      </ol>
    </div>
  </nav>

  <!-- content -->
  <div class="content-container">
    <div class="content">
      <h1 class="margin-top-0">Not found</h1>

      <p class="usa-prose">
        We're sorry, we can't find the page you're looking for. We may have removed it, changed its
        location, or made it unavailable.
      </p>

      <p class="usa-prose not-mobile">
        If you typed the URL directly, check your spelling and capitalization. Our URLs look like
        this: <code>uswds.facioquo.com/page</code>
      </p>

      <p class="usa-prose">
        <a button class="usa-link" href="/">Visit our homepage</a> or
        <a button class="usa-link" href="mailto:support@facioquo.com">contact us</a>
        if you need help.
      </p>
    </div>
  </div>
</section>
