<!-- pattern introduction section -->
<section class="usa-section pattern-intro-section">
  <div class="grid-container">

    <!-- bread crumbs -->
    <nav class="usa-breadcrumb usa-breadcrumb--wrap" aria-label="Breadcrumbs,,,">
      <ol class="usa-breadcrumb__list">
        <li class="usa-breadcrumb__list-item">
          <a class="usa-breadcrumb__link" routerLink="/" fragment="design-patterns"><span>Patterns</span></a>
        </li>
        <li class="usa-breadcrumb__list-item">
          <span>Floating bubbles</span>
        </li>
      </ol>
    </nav>

    <!-- pattern intro -->
    <h1>Floating bubbles</h1>
    <p class="usa-prose">
      A floating collection of bubble-shaped cards without use of the U.S. Web Design System
      <a class="usa-link usa-link--external"
         href="https://designsystem.digital.gov/utilities/layout-grid/"
         target="_blank" rel="noopener noreferrer nofollow">Layout grid</a>.
      Learn more about
      <a class="usa-link point" role="button" (click)="u.scrollToStart('info');"> this design pattern</a>
      at the bottom of this page.
    </p>

  </div>
</section>


<!-- FLOATING BUBBLES DESIGN PATTERN -->
<section class="usa-section bubbles-section">

    <div class="bubble" *ngFor="let card of cards; index as i">
      <a type=button class="usa-button" href="{{ card.link }}" aria-label=""
         [attr.style]="'background-image: url(' + card.image + ');'"
         target="_blank" rel="noopener noreferrer nofollow">
        <div class="bubble-overlay">
          <div class="bubble-label">{{ card.title }}</div>
        </div>
      </a>
    </div>

</section>


<!-- INFO SECTION | About this design pattern -->
<section class="usa-section usa-dark-background pattern-info-section">

  <!-- About this design pattern -->
  <div class="pattern-info-container" id="info">

    <h2>About this pattern</h2>

    <div class="features">

      <p class="usa-prose usa-dark-background">
        Use this design pattern when you want consistent spacing between fixed size [bubble] cards and
        symmetrical centering of 3-6 objects.  It'd be difficult to do this using the standard USWDS
        <a class="usa-link usa-link--external"
           href="https://designsystem.digital.gov/utilities/layout-grid/"
           target="_blank"
           rel="noopener noreferrer nofollow">Layout grid</a>.
      </p>
    </div>

    <!-- github | return to top -->
    <ul class="usa-button-group padding-top-6">
      <li class="usa-button-group__item">
        <a class="usa-button"
           href="https://github.com/facioquo/uswds-design-patterns/tree/main/src/app/pages/bubbles"
           type="button" target="_blank" rel="noopener nofollow">View on GitHub</a>
      </li>
      <li class="usa-button-group__item">
        <a class="usa-button usa-button--outline usa-button--inverse"
           routerLink="/" fragment="design-patterns">More patterns</a>
      </li>
      <li class="usa-button-group__item">
        <button class="usa-button usa-button--outline usa-button--inverse usa-button--unstyled mobile-lg:padding-left-2"
          (click)="u.scrollToStart('top')">
          Return to top
        </button>
      </li>
    </ul>

  </div>
</section>
