<!-- pattern introduction section -->
<app-pattern-header [patternName]="'Floating bubbles'" class="site">
  <p class="usa-prose">
    A floating collection of bubble-shaped cards without use of the U.S. Web Design System
    <a class="usa-link usa-link--external"
       href="https://designsystem.digital.gov/utilities/layout-grid/"
       target="_blank" rel="noopener noreferrer nofollow">Layout grid</a>.
    Learn more about
    <a class="usa-link point" role="button" (click)="u.scrollToStart('info');"> this design pattern</a>
    at the bottom of this page.
  </p>
</app-pattern-header>


<!-- FLOATING BUBBLES DESIGN PATTERN -->
<section class="usa-section bubbles-section">

    <div class="bubble" *ngFor="let card of cards; index as i">
      <a type=button class="usa-button" href="{{ card.link }}" aria-label=""
         [attr.style]="'background-image: url(' + card.image + ');'"
         target="_blank" rel="noopener noreferrer nofollow">
        <div class="bubble-overlay">
          <div class="bubble-label">{{ card.title }}</div>
        </div>
      </a>
    </div>

</section>


<!-- INFO SECTION | About this design pattern -->
<app-pattern-footer [githubFolder]="'bubbles'" class="site-dark" id="info">

  <p class="usa-prose usa-dark-background">
    Use this design pattern when you want consistent spacing between fixed size [bubble] cards and
    symmetrical centering of 3-6 objects.  It'd be difficult to do this using the standard USWDS
    <a class="usa-link usa-link--external"
        href="https://designsystem.digital.gov/utilities/layout-grid/"
        target="_blank"
        rel="noopener noreferrer nofollow">Layout grid</a>.
  </p>
</app-pattern-footer>
