<section class="site-theme usa-section usa-section--dark padding-top-3">
  <div class="grid-container">
    <h1 class="margin-bottom-0">Implementation ideas</h1>
    <h2 class="margin-top-0">using the <b>U.S. Web Design System</b></h2>
    <ul class="usa-card-group margin-top-4">
      <li class="tablet:grid-col-6 tablet-lg:grid-col-4" *ngFor="let card of cards">
        <app-site-card [card]="card" />
      </li>
    </ul>
  </div>
</section>

<!-- return to top -->
<div class="usa-dark-background padding-y-2">
  <div class="grid-container text-right">
    <button class="usa-button usa-button--outline usa-button--inverse" (click)="u.scrollToStart('top')">
      Return to top
    </button>
  </div>
</div>
