@use "/sass/site-styles" as *;
@forward "usa-section";
@forward "usa-layout-grid";
@forward "usa-card";
@forward "usa-button";
@forward "usa-button-group";

.home-section {

  @include u-padding-top(4);
  @include u-padding-bottom(2);
  min-height: 75vh;

  .subtitle {
    @include u-font-size('sans', 9);
    font-weight: 400;
    color: color($theme-color-base-light);
    line-height: 1.2em;
    margin-top: 0.25em;
    display: block;

    @include at-media-max("mobile-lg") {
      @include u-font-size('sans', 7);
    }
  }
}
