<section class="site-theme usa-section usa-section--dark padding-top-3">
  <div class="grid-container">
    <h1>Ideas</h1>
    <p class="usa-prose">
      This is a place to share ideas for implementations using the
      <strong>U.S. Web Design System</strong> and other custom components.
    </p>
    <!-- <ul class="usa-card-group margin-top-4">
      <li class="usa-card tablet:grid-col-6 tablet-lg:grid-col-4">
        <div class="usa-card__container">
          <div class="usa-card__header">
            <h2 class="usa-card__heading">Card with Media</h2>
          </div>
          <div class="usa-card__media">
            <div class="usa-card__img">
              <img src="https://designsystem.digital.gov/img/introducing-uswds-3/introducing-uswds-3.svg"
                alt="A placeholder image" />
            </div>
          </div>
          <div class="usa-card__body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis earum
              tenetur quo cupiditate, eaque qui officia recusandae.
            </p>
          </div>
          <div class="usa-card__footer">
            <button type="button" class="usa-button">Visit Florida Keys</button>
          </div>
        </div>
      </li>
      <li class="usa-card tablet:grid-col-6 tablet-lg:grid-col-4">
        <div class="usa-card__container">
          <div class="usa-card__header">
            <h2 class="usa-card__heading">Card with Media</h2>
          </div>
          <div class="usa-card__media">
            <div class="usa-card__img">
              <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
                alt="A placeholder image" />
            </div>
          </div>
          <div class="usa-card__body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis earum
              tenetur quo cupiditate, eaque qui officia recusandae.
            </p>
          </div>
          <div class="usa-card__footer">
            <button type="button" class="usa-button">Visit Florida Keys</button>
          </div>
        </div>
      </li>
      <li class="usa-card tablet:grid-col-6 tablet-lg:grid-col-4">
        <div class="usa-card__container">
          <div class="usa-card__header">
            <h2 class="usa-card__heading">Card with Media</h2>
          </div>
          <div class="usa-card__media">
            <div class="usa-card__img">
              <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow.svg"
                alt="A placeholder image" />
            </div>
          </div>
          <div class="usa-card__body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis earum
              tenetur quo cupiditate, eaque qui officia recusandae.
            </p>
          </div>
          <div class="usa-card__footer">
            <button type="button" class="usa-button">Visit Florida Keys</button>
          </div>
        </div>
      </li>
    </ul> -->
  </div>
</section>

<!-- return to top -->
<div class="usa-dark-background padding-y-2">
  <div class="grid-container text-right">
    <button class="usa-button usa-button--outline usa-button--inverse" (click)="u.scrollToStart('top')">
      Return to top
    </button>
  </div>
</div>
