<section class="usa-identifier usa-identifier__section usa-identifier__section--masthead"
  aria-label="Organization identifier,">
  <div class="usa-identifier__container">
    <div class="usa-identifier__logos">
      <a routerLink="/" class="usa-identifier__logo">
        <img class="usa-identifier__logo-img" ngSrc="/assets/logo.svg" width="48" height="48" alt="Site logo"
          role="img" />
      </a>
    </div>
    <section class="usa-identifier__identity" aria-label="Organization information">
      <p class="usa-identifier__identity-domain">uswds.facioquo.com</p>
      <p class="usa-identifier__identity-disclaimer">
        A website by <a class="usa-link" href="https://facioquo.com">FacioQuo</a>
      </p>
    </section>
  </div>
</section>
