<section class="usa-identifier usa-identifier__section usa-identifier__section--masthead"
  aria-label="Agency identifier,">
  <div class="usa-identifier__container">
    <div class="usa-identifier__logos">
      <a href="/" class="usa-identifier__logo"><img class="usa-identifier__logo-img" src="/assets/logo.svg"
          alt="&lt;Parent agency&gt; logo" role="img" /></a>
    </div>
    <section class="usa-identifier__identity" aria-label="Company information">
      <p class="usa-identifier__identity-domain">uswds.facioquo.com</p>
      <p class="usa-identifier__identity-disclaimer">
        An <a class="usa-link" href="https://github.com/facioquo/uswds">open-source</a>
        website by the <a class="usa-link" href="https://github.com/facioquo">FacioQuo</a> community.
      </p>
    </section>
  </div>
</section>
