@use "/sass/site-styles" as *;
@forward "usa-identifier";

// IDENTIFIER
// TO DO: consider resetting most of this to standard GOTS

.usa-identifier__logo-img {
  opacity: 0.5;
  height: 48px;
  width: 48px;
  object-fit: cover;
}

.usa-identifier__identity-disclaimer {
  font-weight: 600;
  color: color($theme-color-base-light);

  a {
    color: color($theme-color-base-light);

    &:active,
    &:visited {
      color: color($theme-color-base-light);
    }
  }
}
