@use "/sass/uswds-styles" as *;
@forward "usa-identifier";

.usa-identifier {
  @include typeset("sans", "sm", 2);
  background-color: #dfe1e250;
}

.usa-identifier__logo-img {
  opacity: 0.8;
  height: 48px;
  width: 48px;
  object-fit: cover;
}

.usa-identifier__identity-domain {
  text-decoration: none;
}

.usa-identifier__identity-disclaimer {

  a.usa-link {

    &:hover {
      color: color("base-dark") !important;
    }

    &:visited {
      color: unset;
    }
  }
}
