<!-- pattern introduction section -->
<section class="usa-section pattern-intro-section">
  <div class="grid-container">

    <!-- bread crumbs -->
    <nav class="usa-breadcrumb usa-breadcrumb--wrap" aria-label="Breadcrumbs,,,">
      <ol class="usa-breadcrumb__list">
        <li class="usa-breadcrumb__list-item">
          <a routerLink="/" class="usa-breadcrumb__link"><span>Patterns</span></a>
        </li>
        <li class="usa-breadcrumb__list-item">
          <span>Sticky process menu</span>
        </li>
      </ol>
    </nav>

    <!-- pattern intro -->
    <h1>Sticky process menu</h1>
    <p class="usa-prose">
      A matching sticky <a class="usa-link usa-link--external"
        href="https://designsystem.digital.gov/components/side-navigation/" target="_blank"
        rel="noopener noreferrer nofollow">Side Navigation</a> menu pane to accompany the U.S. Web Design System
      <a class="usa-link usa-link--external" href="https://designsystem.digital.gov/components/process-list/"
        target="_blank" rel="noopener noreferrer nofollow">Process List</a> component. Learn more about <a
        class="usa-link point" role="button" (click)="u.scrollToStart('info');"> this design pattern</a> at the
      bottom of this page.
    </p>

  </div>
</section>

<!-- VERTICAL STEP INDICATOR DESIGN PATTERN
  - TBD
-->
<section class="usa-section process-nav-section">
  <div class="grid-container">

    <h2>The process</h2>

    <!-- side nav -->
    <div class="grid-row grid-gap">

      <nav id="process-nav" aria-label="application process step"
        class="sidenav padding-bottom-4 display-none desktop:grid-col-2 desktop:display-inline">
        <ul class="usa-sidenav usa-sticky-sidenav">
          <li class="usa-sidenav__item">
            <a role="button" (click)="u.scrollToStart('pack-bags');">
              Pack your bags
            </a>
          </li>
          <li class="usa-sidenav__item">
            <a role="button" (click)="u.scrollToStart('get-started');">
              Begin the journey
            </a>
          </li>
          <li class="usa-sidenav__item">
            <a role="button" (click)="u.scrollToStart('journey');">
              Overcome obstacles
            </a>
          </li>
          <li class="usa-sidenav__item">
            <a role="button" (click)="u.scrollToStart('completion');">
              Reach your goals
            </a>
          </li>
          <li class="usa-sidenav__item bullet-question">
            <a routerLink="/about">
              Get help
            </a>
          </li>
        </ul>
      </nav>

      <!-- process list content -->
      <div class="desktop:grid-col-fill">

        <ol class="usa-process-list padding-top-0">
          <li class="usa-process-list__item" id="pack-bags">
            <h3 class="usa-process-list__heading">Pack your bags</h3>
            <p>
              Bacon ipsum dolor amet hamburger fatback meatball bacon kevin salami flank. Sirloin beef pork belly, shank
              tri-tip kevin tail sausage meatloaf. Pork chop salami ball tip short loin brisket pig cupim jerky pork
              belly tri-tip chuck short ribs prosciutto.
            </p>
            <p>
              Venison kielbasa tail, cupim jowl salami ham hock boudin pork loin rump shankle swine. Andouille
              tenderloin flank spare ribs kielbasa, pancetta ham hock pork chop chuck fatback sausage. Filet mignon
              bacon swine capicola shankle jerky.
            </p>
            <ul class="usa-list">
              <li>Pork belly strip steak alcatra doner turkey beef tenderloin salami pork chop. Capicola venison rump
                pork loin pastrami burgdoggen bacon kielbasa chislic pork chop alcatra frankfurter. Salami jowl shank
                t-bone. Turkey salami tenderloin porchetta.</li>
              <li>Also do these:
                <ul>
                  <li>TBD</li>
                  <li>TBD</li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="usa-process-list__item" id="get-started">
            <h3 class="usa-process-list__heading">Begin the journey</h3>
            <p>You should:</p>
            <ul class="usa-list">
              <li><strong>TBD</strong> to foo</li>
            </ul>
          </li>
          <li class="usa-process-list__item" id="journey">
            <h3 class="usa-process-list__heading">Overcome obstacles</h3>
            <p>Here are some suggestions on your travels:</p>
            <ul class="usa-list">
              <li>TBD</li>
            </ul>
          </li>

          <li class="usa-process-list__item" id="completion">
            <h3 class="usa-process-list__heading">Reach your goals</h3>
            <p>Here's <strong>important</strong> information to complete your trip.</p>
          </li>
        </ol>
      </div>

    </div>
  </div>
</section>


<!-- INFO SECTION | About this design pattern -->
<section class="usa-section usa-dark-background pattern-info-section">

  <!-- About this design pattern -->
  <div class="pattern-info-container" id="info">

    <h2>About this pattern</h2>

    <div class="features">

      <h3>Side navigation menu</h3>

      <p class="usa-prose usa-dark-background">
        Use this design pattern when you are using the <a
        class="usa-link usa-link--external" href="https://designsystem.digital.gov/components/process-list/"
        target="_blank" rel="noopener noreferrer nofollow">Process List</a> and want a matching sticky version of the <a
          class="usa-link usa-link--external" href="https://designsystem.digital.gov/components/side-navigation/"
          target="_blank" rel="noopener noreferrer nofollow">Side Navigation</a> menu.
      </p>

      <h4>What we changed</h4>

      <ul class="usa-list">
        <li>Added matching numbered bubbles</li>
        <li>Made it sticky so it's always on-screen when viewing process list</li>
      </ul>

      <h3>Process list</h3>

      <h4>What we changed</h4>

      <ul class="usa-list">
        <li>Removed maximum width limitations</li>
        <li>Background color matching for numbered bubbles</li>
      </ul>

    </div>

    <!-- github | return to top -->
    <ul class="usa-button-group padding-top-6">
      <li class="usa-button-group__item">
        <a class="usa-button usa-link--external" type="button"
          href="https://github.com/facioquo/uswds-design-patterns/tree/main/src/app/pages/vertical-process-nav"
          target="_blank">View on GitHub</a>
      </li>
      <li class="usa-button-group__item">
        <button class="usa-button usa-button--outline usa-button--inverse" (click)="u.scrollToStart('top')">
          Return to top
        </button>
      </li>
    </ul>

  </div>
</section>
