@use "/sass/uswds-styles" as *;
@forward "usa-section";
@forward "usa-layout-grid";
@forward "usa-breadcrumb";
@forward "usa-sidenav";
@forward "usa-button";
@forward "usa-button-group";
@forward "usa-process-list";

/* PROCESS LIST STICKY NAV */
.process-nav-section {

  background-color: color("base-lightest");

  // side navigation
  .usa-sidenav {
    counter-reset: usa-numbered-list;

    .usa-sidenav__item {
      border-top: none;

      a {
        &:hover {
          background-color: color("base-lighter");
        }
      }

      &::before {
        display: flex;
        flex-direction: row;

        position: absolute;
        left: -1.5rem;
        height: 1.5rem;
        width: 1.5rem;

        margin-top: 0.45rem;
        align-items: center;
        justify-content: center;

        font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
        font-size: 0.9rem;
        font-weight: bold;
        color: color("base-dark");

        border: 0.15rem solid color("base-dark");
        border-radius: 50%;
        background-color: color("base-lightest");

        content: counter(usa-numbered-list, decimal);
        counter-increment: usa-numbered-list;
      }
    }

    // custom bullets
    .bullet-question::before {
      content: "?";
    }
  }

  // process list
  .usa-process-list {

    .usa-process-list__item {

      max-width: unset;

      h3 {
        @include u-margin-bottom(2);
      }

      ul {
        li {
          max-width: unset;
        }
      }

      // match our background colors
      &::before {
        background-color: color("base-lightest");
        box-shadow: 0 0 0 0.25rem color("base-lightest");
      }
    }
  }
}


// adjustments to non-design pattern parts of the page
.pattern-intro-section {
  @include u-padding-y(0);
  @include u-margin-bottom(4);
}

.pattern-info-section {
  @include u-padding-top(0);
}

